body{
  background-color: rgb(218, 212, 167)
}

.navbar-nav{
  font-family: cursive;
  list-style: none;
  display: flex;
  color: white;
  


}

.appTitle{
  text-align: center;
  font-family: cursive;
  padding-top: 70px;
}
.ATD{
  padding-top: 70px;
  font-family: cursive;
  text-align: center;
  font-size: smaller;

}
